# INTRODUCTION TO STRINGS

In [1]:
a = 'sathya'

In [2]:
b = "sathya_kumar"

In [3]:
print(a,b)

sathya sathya_kumar

In [4]:
a ='10'

In [5]:
b.upper()

'SATHYA_KUMAR'

In [6]:
b.lower()

'sathya_kumar'

In [7]:
b.isupper()

False

In [8]:
b.isalnum()

False

In [9]:
b.title()

'Sathya_Kumar'

In [10]:
b.capitalize()

'Sathya_kumar'

In [11]:
a.isdigit()

True

In [12]:
a.isdecimal()

True

In [13]:
a.isspace()

False

In [14]:
str1 = 'sathya kumar reddy'

In [15]:
str2 = 'angle'

In [16]:
str1+" & "+str2

'sathya kumar reddy & angle'

In [17]:
l= [1,2,3,4,5,6]

In [18]:
a = ['sa','k','1']

In [19]:
' '.join(a)

'sa k 1'

In [20]:
str1.startswith('s')

True

In [21]:
str2.endswith('e')

True

# list

In [31]:
a = [1,2,3,4,5]
d= []
b = list(range(10))
c = eval(input('enter the list'))

enter the list[5,4,3,2,1]

In [34]:
a.append(7)

In [35]:
a

[1, 2, 3, 4, 5, 7]

In [36]:
a.extend('sathya')

In [37]:
a

[1, 2, 3, 4, 5, 7, 's', 'a', 't', 'h', 'y', 'a']

In [38]:
a.pop()

'a'

In [39]:
a.remove(7)

In [40]:
a

[1, 2, 3, 4, 5, 's', 'a', 't', 'h', 'y']

In [43]:
x = a.copy()

In [44]:
x

[1, 2, 3, 4, 5, 's', 'a', 't', 'h', 'y']

In [46]:
a.insert(5,'10')

In [47]:
a

[1, 2, 3, 4, 5, '10', 's', 'a', 't', 'h', 'y']

In [48]:
x.clear()

In [49]:
x

[]

In [51]:
c = [1,2,3,7,8,5,3,1]

In [52]:
c.sort()

In [53]:
c

[1, 1, 2, 3, 3, 5, 7, 8]

In [55]:
c.reverse()

In [56]:
c

[8, 7, 5, 3, 3, 2, 1, 1]

In [58]:
y = [a for a in range(6)]

In [59]:
y

[0, 1, 2, 3, 4, 5]

In [66]:
z = [ i for i in range(6) if i%2==0 ]

In [67]:
z

[0, 2, 4]

# tuple

In [68]:
t = ()

In [69]:
type(t)

tuple

In [70]:
t = (1,2,3,4,5,6)

In [72]:
t.count(1)

1

In [73]:
t.index(5)

4

In [74]:
a,b,c,d = (1,2,3,4)

In [79]:
print(a,b,c,d)

1 2 3 4

In [81]:
t2 = t

In [82]:
t2

(1, 2, 3, 4, 5, 6)

# sets

In [83]:
s = {1}

In [84]:
type(s)

set

In [85]:
s = set(range(11))

In [86]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [87]:
for i in s:
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [88]:
s1 = set(range(1,11,2))

In [89]:
s1

{1, 3, 5, 7, 9}

In [90]:
s2 = set(range(0,11,2))

In [91]:
s2

{0, 2, 4, 6, 8, 10}

In [92]:
s1.add(2)

In [93]:
s1.update([4,6])

In [94]:
s1

{1, 2, 3, 4, 5, 6, 7, 9}

In [95]:
s2

{0, 2, 4, 6, 8, 10}

In [96]:
s2.update([1,3,5])

In [101]:
s2

{0, 1, 2, 3, 4, 5, 6, 8, 10}

In [97]:
s1.union(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [98]:
s1.intersection(s2)

{1, 2, 3, 4, 5, 6}

In [99]:
s1.difference(s2)

{7, 9}

In [100]:
s1.symmetric_difference(s2)

{0, 7, 8, 9, 10}

In [102]:
s1-s2

{7, 9}

In [103]:
s1^s2

{0, 7, 8, 9, 10}

In [107]:
s1|s2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [109]:
s1.pop()

1

In [110]:
s1.remove(3)

In [111]:
s1.discard(5)

In [112]:
s1

{2, 4, 6, 7, 9}

In [113]:
s1.discard(2)

In [114]:
s1

{4, 6, 7, 9}

# dictionary

In [142]:
dict1 = {1:'sathya',2:'kumar',3:'reddy'}

In [143]:
type(dict1)

dict

In [144]:
dict1[4]='villege'

In [145]:
dict1

{1: 'sathya', 2: 'kumar', 3: 'reddy', 4: 'villege'}

In [146]:
dict1.items()

dict_items([(1, 'sathya'), (2, 'kumar'), (3, 'reddy'), (4, 'villege')])

In [147]:
dict1.keys()

dict_keys([1, 2, 3, 4])

In [148]:
dict1.values()

dict_values(['sathya', 'kumar', 'reddy', 'villege'])

In [135]:
a = dict1.get(22,1)

In [136]:
a

1

In [149]:
dict2 = dict1.copy()

In [150]:
dict2

{1: 'sathya', 2: 'kumar', 3: 'reddy', 4: 'villege'}

In [151]:
dict2.pop(1)

'sathya'

In [152]:
dict2.popitem()

(4, 'villege')

In [153]:
dict2

{2: 'kumar', 3: 'reddy'}

In [157]:
dict2.fromkeys(dict1)

{1: None, 2: None, 3: None, 4: None}

In [158]:
dict2

{2: 'kumar', 3: 'reddy'}

In [159]:
dict1.setdefault(7,'saginekuppam')

'saginekuppam'

In [160]:
dict1

{1: 'sathya', 2: 'kumar', 3: 'reddy', 4: 'villege', 7: 'saginekuppam'}

In [161]:
a = ['ss','kk','gg','dk','sk']

In [162]:
dict3 = {(i,a[i]) for i in range(5)}

In [163]:
dict3

{(0, 'ss'), (1, 'kk'), (2, 'gg'), (3, 'dk'), (4, 'sk')}

In [166]:
dd = {(1,'new'),(2,'marriage'),(3,'is'),(4,'like'),(5,'hell')}